





<!-- <h2>These are the results</h2>
<div *ngIf=' whichCategory=="people"'>Name: {{model.name}} Height: {{model.height}}</div>
<div *ngIf=' whichCategory=="planets"'>Planet Name:{{model.name}} Climate:{{model.climate}}</div>
<div *ngIf=' whichCategory=="vehicles"'>Vehicle Name:{{model.name}}</div>
<div *ngIf=' whichCategory=="species"'>Eye Colour:{{model.eye_colors}} Height: {{model.average_height}}</div>
<div *ngIf=' whichCategory=="starships"'>Starship Name:{{model.name}}</div> -->

<!-- <pre>{{model |json}}</pre> -->


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Star Wars</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="assets/css/landing-page.min.css" rel="stylesheet">

</head>

<body>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
        <div *ngIf=' whichCategory=="people"'>
                <img class="centre" src="assets/image/maxresdefault.jpg" />
                </div>
                <div *ngIf=' whichCategory=="planets"'>
                    <img class="centre" src="assets/image/planetStarwars.png" />
                </div>
                <div *ngIf=' whichCategory=="vehicles"'>
                    <img class="centre" src="assets/image/starwarsvehicles.jpg" />
                </div>
                <div *ngIf=' whichCategory=="starships"'>
                    <img class="centre" src="assets/image/BANSW219770-2.jpg" />
                </div>
                <div *ngIf=' whichCategory=="species"'>
                    <img class="centre" src="assets/image/starwarsspecies.jpg" />
                </div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 mx-auto">
          <h1 class="mb-5">Discover more about Star Wars</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type='number' placeholder='id' 
                    min='1' max='5' [(ngModel)]='swId' class="btn btn-primary"/><br/>
                   <select [(ngModel)]='whichCategory'>
                       <option *ngFor='let item of starWars' >{{item.cat}}</option>
                   </select>
              </div>
              <div class="col-12 col-md-3">
                <button (click)='handleClick()' class="btn btn-block btn-lg btn-primary">Go</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class=" bg-light">
    <h2>These are the results</h2>
    <div class="container">
      <div class="row">
                <div *ngIf=' whichCategory=="people"'>Name: {{model.name}} Height: {{model.height}}</div>
                <div *ngIf=' whichCategory=="planets"'>Planet Name:{{model.name}} Climate:{{model.climate}}</div>
                <div *ngIf=' whichCategory=="vehicles"'>Vehicle Name:{{model.name}}</div>
                <div *ngIf=' whichCategory=="species"'>Eye Colour:{{model.eye_colors}} Height: {{model.average_height}}</div>
                <div *ngIf=' whichCategory=="starships"'>Starship Name:{{model.name}}</div>

                <pre>{{model |json}}</pre>

      </div>
    </div>
  </section>

 

  <!-- Bootstrap core JavaScript -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>